.tiptop:hover .tiptopPopup {
  -webkit-transition: opacity 0.2s ease-in-out, 1s;
  -moz-transition: opacity 0.2s ease-in-out, 1s;
  -o-transition: opacity 0.2s ease-in-out, 1s;
  transition: opacity 0.2s ease-in-out, 1s;
}

.tiptopPopup .title {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: left;
}
.tiptopPopup .text {
  text-align: left;
}

.tiptop {
  background-color: blue;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.tiptop:before {
  content: " ";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.01);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.2em 0.12em blue;
  -moz-box-shadow: 0 0 0.2em 0.12em blue;
  box-shadow: 0 0 0.2em 0.12em blue;
  -o-animation: blip 1200ms infinite;
  -moz-animation: blip 1200ms infinite;
  -webkit-animation: blip 1200ms infinite;
  animation: blip 1200ms infinite;
}

@-webkit-keyframes blip {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2.6, 2.6);
    -moz-transform: scale(2.6, 2.6);
    -ms-transform: scale(2.6, 2.6);
    -o-transform: scale(2.6, 2.6);
    transform: scale(2.6, 2.6);
    opacity: 0;
  }
}

@-moz-keyframes blip {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2.6, 2.6);
    -moz-transform: scale(2.6, 2.6);
    -ms-transform: scale(2.6, 2.6);
    -o-transform: scale(2.6, 2.6);
    transform: scale(2.6, 2.6);
    opacity: 0;
  }
}

@-ms-keyframes blip {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2.6, 2.6);
    -moz-transform: scale(2.6, 2.6);
    -ms-transform: scale(2.6, 2.6);
    -o-transform: scale(2.6, 2.6);
    transform: scale(2.6, 2.6);
    opacity: 0;
  }
}

@keyframes blip {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(2.6, 2.6);
    -moz-transform: scale(2.6, 2.6);
    -ms-transform: scale(2.6, 2.6);
    -o-transform: scale(2.6, 2.6);
    transform: scale(2.6, 2.6);
    opacity: 0;
  }
}

.tiptopHover {
  display: block;
  position: absolute;
  border-radius: 50%;
}

.tiptop .tiptopPopup {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px red;
  -moz-box-shadow: 0px 0px 10px red;
  box-shadow: 0px 0px 10px red;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: red;
  width: 200px;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  opacity: 0.0;
}

/* calcualte popup traingle via js */
.tiptop .tiptopPopup:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.tiptop .tiptopPopupDirectiont:before {
  border-width: 10px 10px 0 10px;
  border-color: red transparent transparent transparent;
  bottom: -10px;
  left: 90px;
}

.tiptop .tiptopPopupDirectionb:before {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent red transparent;
  top: -10px;
  left: 90px;
}

.tiptop .tiptopPopupDirectionr:before {
  border-width: 10px 10px 10px 0;
  border-color: transparent red transparent transparent;
  top: 10px;
  left: -10px;
}

.tiptop .tiptopPopupDirectionl:before {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent red;
  top: 10px;
  right: -10px;
}

.tiptop:hover, .tiptop.showOnInit {
  z-index: 10;
}
.tiptop:hover:before, .tiptop.showOnInit:before {
  -o-animation: none;
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
  opacity: 0;
}
.tiptop:hover .tiptopPopup, .tiptop.showOnInit .tiptopPopup {
  opacity: 1;
}

.tiptopPopup .title {
  font-size: 13px;
  line-height: 16px;
  color: white;
  margin: 0;
  white-space: normal;
}

.tiptopPopup .text {
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin: 0;
  white-space: normal;
}
